@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "clock.css";
@import "greetings.css";
@import "to-do.css";
@import "weather-location.css";
@import "quote.css";

body {
  font-family: "Open Sans", sans-serif;
  color: white;
}

.hidden {
  display: none;
}
